{% extends 'app/base.html' %}

{% block content %}
{% if user.is_authenticated %}

<h1 class="card-title">Token</h1>

<!-- {% for teacher in teacherList %}
    {{teacher.id}}
{% endfor %} -->
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserID</th>
            <th scope="col">Token</th>
            
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <th scope="row">1</th>
            <td>{{user_id}}</td>
            <td>{{token}}</td>
            
        </tr>
       

    </tbody>
</table>

{% else %}
<br>
<hr>
<p><a href="/login">Please login</a></p>
{% endif %}

{% endblock %}